/CardsApplication/bin/Debug/*.exe
/CardsApplication/bin/Debug/*.pdb
*.pdb
*.dll
*.exe
*.Cache
/TestProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TestProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TestProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestProject/obj/Debug/TestProject.csproj.FileListAbsolute.txt
/CardsApplication/bin/Debug/CardsApplication.exe.config
/CardsApplication/bin/Debug/CardsApplication.vshost.exe.config
/CardsApplication/obj/Debug/CardsApplication.Properties.Resources.resources
/CardsApplication/obj/Debug/CardsApplication.csproj.FileListAbsolute.txt
/CardsApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CardsApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CardsApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
